/* Geral */
*{
 padding: 0;
 overflow-x: hidden;
 margin: 0;
 font-family: 'Roboto', sans-serif;
}

body{
 padding: 0;
}

/* Barra de Navegação */
div#barra-navegacao{
 background-color: #121D40;
 padding: 25px;
 margin: auto;
 margin-left: 0px;
 margin-right: 0px;
 width: 100vw;
}

div#barra-navegacao > ul > li > a{
 color: white;
 margin-bottom: 0px;
 font-weight: 600;
}
div#barra-navegacao > ul > li > a:hover{
 transform: translate3d(-0.2ch, -0in, -0.5em);
 transition: transform .3s;
}

/* Mensagens Personalizadas */
div.msg_sucesso{
 font-family: Arial, Helvetica, sans-serif;
 width: fit-content;
 margin: auto;
 margin-bottom: 10px;
 font-size: 1.2em;
 background-color: rgba(226, 239, 218);
 text-shadow: 0px 0px 2px rgba(0,0,0,.5);
 color: rgb(74, 116, 67);
 border-radius: 25px;
 padding: 10px;
}

div.msg_alerta{
 font-family: Arial, Helvetica, sans-serif;
 width: fit-content;
 margin: auto;
 margin-bottom: 10px;
 font-size: 1.2em;
 background-color: rgba(194, 194, 2, 0.316);
 text-shadow: 1px 2px 3px rgba(0,0,0,.5);
 color: yellow;
 border-radius: 25px;
 padding: 10px;
}

div.msg_erro{
 font-family: Arial, Helvetica, sans-serif;
 width: fit-content;
 margin: auto;
 margin-top: 20px;
 margin-bottom: 10px;
 font-size: 1.2em;
 background-color: rgba(255, 0, 0, 0.312);
 text-shadow: 0px 0px 2px rgba(0,0,0,.5);
 color: red;
 border-radius: 25px;
 padding: 10px;
}

.material-symbols-outlined{
 vertical-align: bottom;
 margin-right: 5px;
 overflow-y: hidden;
}

/* Edição de Formulários */
form.form{
 width: fit-content;
 border: 2px solid black;
 margin: auto;
 text-align: center;
 margin-top: 100px;
 padding: 20px;
 border-radius: 15px;
 background-image: linear-gradient(180deg, rgba(23, 51, 50, 0.4),rgba(23, 51, 50, 0.4));
}

.form-control{
 width: 15vw;
 height: 11%;
 font-size: 1em;
 font-weight: 600;
 margin-top: 0px;
}

label{
 margin-top: 10px;
 margin-bottom: 3px;
 font-family: 'Roboto', sans-serif;
 font-weight: 800;
}

input[type="submit"]{
 margin-top: 43px;
 border-radius: 45px;
 background-color: white;
}

input[type="date"]{
 text-align: center;
 padding-top: 22px;
 padding-bottom: 12px;
 cursor: pointer;
}

/* Edição da parte Main do Site */
main{
 text-align: left;
 padding: 30px;
}

main > h1{
 font-weight: 900;
 font-size: 3em;
}

/* Menu/Página Principal */

main.menu-principal{
 padding: 0px; 
 background-color: #2D4B73;
}

div.coluna-foto{
 background-color: #253C59;
 margin: 40px;
 margin-right: 4vw; 
 padding: 0px;
}

div.coluna-feed{
 border-left: 2px solid #99B4BF;
 background-color: #2D4B73;
}

div.layout-postagem-feed{
 border-radius: 10px; 
 border: 2px solid #99B4BF; 
 margin-top: 25px; 
 margin-left: 10px; 
 margin-bottom: 20px;
}

img.imagem-feed{
 border: 2px solid #99B4BF; 
 border-radius: 10px;
 height: 100%;
}

img#foto-perfil:hover{
 filter: brightness(10%);
 cursor: pointer;
}

div.div-comentario{
 background-color: white; 
 padding: 10px 5px 4px 7px; 
 border-radius: 10px; 
 margin-bottom: 12px;
}

p.ver-perfil-feed{
 color: #04ADBF; 
 margin-bottom: 0px;
}

h5{
 font-weight: 700;
 color: rgba(0,0,0,.8);
}

a.ver-perfil-logado:hover{
 text-decoration: none;
 font-weight: 600;
}

div > p, div > h5:hover{
 cursor: default;
}

button#add-publicacao{
 margin-top: 30px;
 margin-bottom: 30px;
 color: rgba(0, 0, 0, 0.8);
 font-weight: 600;
}